@{
    ViewBag.Title = "Proceed";
    Layout = "~/Views/Shared/_Layout4.cshtml";
}

<br />
<div id="welcome_slogan">
    <h3><span>Cart Empty</span></h3>
</div>
<div style="padding-top:50px">
    <br /><br />
    @Html.ActionLink("Checkout Previously Stored Items", "Checkout", "Checkout")
</div>