@{
    ViewBag.Title = "QuantityPlease";
    Layout = "~/Views/Shared/_Layout4.cshtml";
}


<!DOCTYPE html>
<html>
<head>
    <title></title>
</head>
<body>
    <h2>Error: You did not Enter the Quantity</h2>
</body>
</html>


