
@{
    ViewBag.Title = "InvalidCredentials";
    Layout = "~/Views/Shared/_Layout4.cshtml";
}

<link href="~/HTML5%20Audio/freehtml5audio/css/style.css" rel="stylesheet" />
<div id="welcome_slogan">
    <h3><span>Invalid Credentials</span></h3>
</div>
<br /><br /><br /><br />
<input type="button" Value="Login Again" onclick="location.href='@Url.Action("SignUp", "Login")'">